[user]
    name = Bernhard Mallinger
    # email = bernhard.mallinger@eox.at
    email = b.mallinger@gmx.at


[diff "sqlite"]
	textconv = sqlite3dump

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[push]
	default = simple

[diff]
	noprefix = true
    # external = difft --background light --display inline

#[pull] rebase = true

[rebase]
	autosquash = true

[core]
	editor = vim
[cola]
	spellcheck = false
[init]
	defaultBranch = main
[gui]
	recentrepo = /home/totycro/git/git-test
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
# [difftool] prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
