[user]
	name = Bernhard Mallinger
	email = b.mallinger@gmx.at


[diff "sqlite"]
	textconv = sqlite3dump

[alias]
		lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[push]
	default = simple

[diff]
	noprefix = true

[pull]
	rebase = true

[rebase]
	autosquash = true
[core]
	editor = nvim
